$white: #fff;
$light_white: e7e7e7;
$bg_dark: #171c28;
$gray: #444452;
$light_gray: #afafbf;
$blue: #007bff;
$radius: 3px;
$shadow: 0 0 25px rgba(0, 0, 0, .05);

// Media breakpoints
$breakpoint_sm: 576px;
$breakpoint_md: 768px;
$breakpoint_lg: 992px;
$breakpoint_xl: 1200px;

// Bootstrap modal
$modal-backdrop-bg: #0a1630;
$modal-backdrop-opacity: .9;
