.btn {
  display: inline-block;
  vertical-align: top;
  padding: .8rem 2rem;

  background: none;
  border-radius: 5px;

  font-size: 1rem;
  line-height: 1.1;
  font-weight: 500;
  color: var(--color_gray);
  text-decoration: none;

  transition: background .2s linear, color .2s linear;

  &--blue {
    border: 2px solid $blue;


    &:hover {
      background-color: $blue;

      color: var(--color_white);
    }
  }
}

