.project {
  margin-bottom: 12rem;

  @media screen and (max-width: $breakpoint_lg) {
    margin-bottom: 8rem;
  }

  @media screen and (max-width: $breakpoint_sm) {
    margin-bottom: 5rem;
  }
}

.project__block {
  margin-bottom: 20px;
}

.project__title {
  margin-bottom: .8rem;

  @media screen and (max-width: $breakpoint_lg) {
    margin-bottom: 1rem;
  }
}

.project__title-link {
  color: var(--color_gray);
  font-weight: 700;
  text-decoration: none;

  transition: color .2s linear;

  &:hover {
    color: $blue;
  }
}

.project__text {
  max-width: 550px;
  width: 100%;
  margin: 40px 0;

  font-size: .9rem;
  color: var(--color_gray);

  @media screen and (max-width: $breakpoint_lg) {
    margin: 25px 0;
  }
}

.project__holder {
  display: flex;
  justify-content: center;
  max-width: 400px;

  @media screen and (max-width: $breakpoint_lg) {
    margin-left: 25%;
  }

  @media screen and (max-width: $breakpoint_md) {
    margin-left: 15%;
  }

  @media screen and (max-width: $breakpoint_sm) {
    margin-left: 10%;
  }

  @media screen and (max-width: 390px) {
    margin-left: 0;
  }
}

.project__img {
  display: block;
  max-width: 400px;
  width: 100%;
  height: auto;
}

.project__list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 1.8rem;

  color: var(--color_gray);
}

.project__list-item {
  padding: 2px 7px;
  margin: 3px 5px 3px 0;

  border: 1px solid $blue;
  border-radius: $radius;

  font-size: .75rem;
  color: $blue;
  font-weight: 700;
}

.project__link-group {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-top: 1rem;

  @media screen and (max-width: $breakpoint_lg) {
    margin-left: 1rem;
  }
}

.project__link-icon {
  width: 23px;
  height: 23px;
  margin-right: 1rem;

  opacity: 1;
  cursor: pointer;
  fill: var(--color_gray);

  transition: opacity .2s linear;

  &:hover {
    opacity: .6;
  }
}



